.channel-strip {
  background: radial-gradient(var(--channel-background1), var(--channel-background2));
  color: var(--channel-text);

  width: 7%;
  height: 100%;
  border: 2px solid #8f8f8f;
  border-radius: 2px;
  padding: 5px;
  margin-right: 5px;
}

.channel-name {
  color: var(--channel-name-text);

  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;

  font-family: 'Digital-7 Mono', monospace;
  font-size: 0.9rem;
  color: #ff2a00;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff4000,
    0 0 40px #ff4000;
  background: radial-gradient(circle at center, #100 0%, #000 100%);
  padding: 5px;
  border-radius: 8px;
}

.channel-name.editing {
  cursor: text;
}

.channel-pan {
  background: linear-gradient(90deg, var(--channel-pan-background1), var(--channel-pan-background2), var(--channel-background3));
  color: var(--channel-pan-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.gain-control {
  height: 65%;
  display: flex;
  padding-top: 5%;
  justify-content: space-around;
  gap: 5px;
}

.meter {
  width: 50%;
  height: 100%;
}

.meters {
  display: flex;
  height: 80%;
  justify-content: space-around;
  margin: 5%;
}

.gain-meter {
  background: linear-gradient(var(--channel-meters-gain-background1), var(--channel-meters-gain-background2), var(--channel-meters-gain-background3));
  width: 40%;
  border: 2px #5c5c5c solid;
  position: relative;
  overflow: hidden;
  height: 98%;
}

.gain-level {
  background-color: #000000;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%;
  transition: top 0.1s ease;
}

.metergain {
  background-color: var(--channel-gain-background);
  color: var(--channel-gain-text);

  width: 100%;
  height: 15%;
  display: flex;
  justify-content: right;
  align-items: center;

  font-family: 'Digital-7 Mono', monospace;
  font-size: 1.5rem;
  color: #ff2a00;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff4000,
    0 0 40px #ff4000;
  background: radial-gradient(circle at center, #100 0%, #000 100%);
  border-radius: 4px;
  padding-right: 4px;
}

.fader-controller {
  width: 50%;
  height: 100%;
}

.fader {
  border-radius: 5px;
  width: 100%;
  height: 80%;
  margin: 5%;
  display: flex;
  justify-content: center;
}

.fader-slit {
  background-color: var(--channel-fader-slit-background);
  height: 100%;
  width: 10%;
  border-radius: 10px;
  justify-content: center;
}

.fader-thumb {
  background: linear-gradient(var(--channel-fader-thumb-background1), var(--channel-fader-thumb-background2));
  transform: translate(-40%);
  height: 40%;
  width: 600%;
  position: relative;
  display: flex;
  align-items: center;
}

.fader-thumb-notch {
  background-color: var(--channel-fader-thumb-notch);
  width: 100%;
  height: 5%;
  border-radius: 5px;
}

.fadergain {
  background-color: var(--channel-fader-gain-background);
  color: var(--channel-fader-gain-text);
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: right;
  align-items: center;

  font-family: 'Digital-7 Mono', monospace;
  font-size: 1.5rem;
  color: #ff2a00;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff4000,
    0 0 40px #ff4000;
  background: radial-gradient(circle at center, #100 0%, #000 100%);
  border-radius: 4px;
  padding-right: 4px;
}

.channel-buttons {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  margin: 2px;
}

.channel-record {
  background: linear-gradient(var(--channel-record-inactive-background1), var(--channel-record-inactive-background2));
  color: var(--channel-record-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
}

.channel-record.active {
  color: var(--channel-record-active-background2);
  text-shadow:
    0 0 5px var(--channel-record-active-background2),
    0 0 10px var(--channel-record-active-background2),
    0 0 20px var(--channel-record-active-background1),
    0 0 40px var(--channel-record-active-background1);
}

.channel-monitor {
  background: linear-gradient(var(--channel-monitor-inactive-background1), var(--channel-monitor-inactive-background2));
  color: var(--channel-monitor-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
}

.channel-monitor.active {
  color: var(--channel-monitor-active-background2);
  text-shadow:
    0 0 5px var(--channel-monitor-active-background2),
    0 0 10px var(--channel-monitor-active-background2),
    0 0 20px var(--channel-monitor-active-background1),
    0 0 40px var(--channel-monitor-active-background1);
}

.channel-mute {
  background: linear-gradient(var(--channel-mute-inactive-background1), var(--channel-mute-inactive-background2));
  color: var(--channel-mute-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
}

.channel-mute.active {
  color: var(--channel-mute-active-background2);
  text-shadow:
    0 0 5px var(--channel-mute-active-background2),
    0 0 10px var(--channel-mute-active-background2),
    0 0 20px var(--channel-mute-active-background1),
    0 0 40px var(--channel-mute-active-background1);
}

.channel-solo {
  background: linear-gradient(var(--channel-solo-inactive-background1), var(--channel-solo-inactive-background2));
  color: var(--channel-solo-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
}

.channel-solo.active {
  color: var(--channel-solo-active-background2);
  text-shadow:
    0 0 5px var(--channel-solo-active-background2),
    0 0 10px var(--channel-solo-active-background2),
    0 0 20px var(--channel-solo-active-background1),
    0 0 40px var(--channel-solo-active-background1);
}