.project-window {
    width: 100vw;
    height: 60vh;
    display: flex;
    padding: 5px;
}

.track-list {
    background-color: var(--tracklist-background);
    width: 12%;
    height: 100%;
    padding-right: 15px;
    border-radius: 5px;

    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

.clip-list {
    background-color: var(--tracklist-background);
    width: 88%;
    height: 100%;
    padding-right: 15px;
    border-radius: 5px;

    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

.mix-console {
    width: 100vw;
    height: 35vh;
    display: flex;
    position: relative;
    background-color: var(--mixconsole-background);
    border-radius: 5px;
    padding-bottom: 20px;

    /* Scrolling */
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
}

.project-buttons {
    background-color: #2B2B2B;
    margin-bottom: 5px;
}

.add-track {
    background-color: rgb(65, 65, 65);
    width: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 2px;
}

.add-track:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}