.track {
  background-color: var(--track-background);
  color: var(--track-text);

  width: 100%;
  height: 50px;
  position: relative;
  border: 5px solid rgb(161, 161, 161);
  border-radius: 5px;
}

.track-name {
  background-color: var(--track-name-background);
  color: var(--track-name-text);

  display: flex;
  justify-content: center;
  position: relative;
  font-size: clamp(16px, 2.5vw, 24px);
}

.track-mute {
  background-color: var(--track-mute-inactive-background);
  color: var(--track-mute-inactive-text);

  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 1%;
  border: 2px solid rgb(161, 161, 161);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.track-solo {
  background-color: var(--track-solo-inactive-background);
  color: var(--track-solo-inactive-text);

  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 26%;
  border: 2px solid rgb(83, 83, 83);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease
}

.track-record {
  background-color: var(--track-record-inactive-background);
  color: var(--track-record-inactive-text);

  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 51%;
  border: 2px solid rgb(83, 83, 83);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease
}

.track-record-icon {
  width: 15px;
  height: 15px;
}

.track-monitor {
  background-color: var(--track-monitor-inactive-background);
  color: var(--track-monitor-inactive-text);

  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 76%;
  border: 2px solid rgb(83, 83, 83);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease
}

.track-monitor-icon {
  width: 15px;
  height: 15px;
}

.track-mute.active {
  background-color: var(--track-mute-active-background);
  color: var(--track-mute-active-text);
}

.track-solo.active {
  background-color: var(--track-solo-active-background);
  color: var(--track-solo-active-text);
}

.track-record.active {
  background-color: var(--track-record-active-background);
  color: var(--track-record-active-text);
}

.track-monitor.active {
  background-color: var(--track-monitor-active-background);
  color: var(--track-monitor-active-text);
}