.track {
  background: linear-gradient(var(--track-background-gratient-1), var(--track-background-gratient-2));
  color: var(--track-text);

  width: 100%;
  height: 12%;
  border: 2px solid #8f8f8f;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 5px;
}

.track-name {
  color: var(--track-name-text);

  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;

  font-family: 'Digital-7 Mono', monospace;
  font-size: 1rem;
  color: #ff2a00;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff4000,
    0 0 40px #ff4000;
  background: radial-gradient(circle at center, #100 0%, #000 100%);
  padding: 5px;
  border-radius: 8px;
}

.track-name.editing {
  cursor: text;
}

.track-buttons {
  margin-top: 6%;
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.track-mute {
  background: linear-gradient(var(--track-mute-inactive-background1), var(--track-mute-inactive-background2));
  color: var(--track-mute-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-mute.active {
  color: var(--track-mute-active-background2);
  text-shadow:
    0 0 5px var(--track-mute-active-background2),
    0 0 10px var(--track-mute-active-background2),
    0 0 20px var(--track-mute-active-background1),
    0 0 40px var(--track-mute-active-background1);
}

.track-solo {
  background: linear-gradient(var(--track-solo-inactive-background1), var(--track-solo-inactive-background2));
  color: var(--track-solo-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-solo.active {
  color: var(--track-solo-active-background2);
  text-shadow:
    0 0 5px var(--track-solo-active-background2),
    0 0 10px var(--track-solo-active-background2),
    0 0 20px var(--track-solo-active-background1),
    0 0 40px var(--track-solo-active-background1);
}

.track-record {
  background: linear-gradient(var(--track-record-inactive-background1), var(--track-record-inactive-background2));
  color: var(--track-record-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-record.active {
  color: var(--track-record-active-background2);
  text-shadow:
    0 0 5px var(--track-record-active-background2),
    0 0 10px var(--track-record-active-background2),
    0 0 20px var(--track-record-active-background1),
    0 0 40px var(--track-record-active-background1);
}

.track-monitor {
  background: linear-gradient(var(--track-monitor-inactive-background1), var(--track-monitor-inactive-background2));
  color: var(--track-monitor-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-monitor.active {
  color: var(--track-monitor-active-background2);
  text-shadow:
    0 0 5px var(--track-monitor-active-background2),
    0 0 10px var(--track-monitor-active-background2),
    0 0 20px var(--track-monitor-active-background1),
    0 0 40px var(--track-monitor-active-background1);
}

/* TODO move text colors to theme file */