.track {
  background: linear-gradient(var(--track-background-gratient-1), var(--track-background-gratient-2));
  color: var(--track-text);

  width: 100%;
  height: 12%;
  border: 2px solid #8f8f8f;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.track-name {
  color: var(--track-name-text);
  padding: 1%;
  cursor: pointer;
}

.track-name.editing {
  border: 1px solid red;
  cursor: text;
}

.track-buttons {
  margin-top: 6%;
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.track-mute {
  background: linear-gradient(var(--track-mute-inactive-background1), var(--track-mute-inactive-background2));
  color: var(--track-mute-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-mute.active {
  background: linear-gradient(var(--track-mute-active-background1), var(--track-mute-active-background2));
  color: var(--track-mute-active-text);
}

.track-solo {
  background: linear-gradient(var(--track-solo-inactive-background1), var(--track-solo-inactive-background2));
  color: var(--track-solo-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-solo.active {
  background: linear-gradient(var(--track-solo-active-background1), var(--track-solo-active-background2));
  color: var(--track-solo-active-text);
}

.track-record {
  background: linear-gradient(var(--track-record-inactive-background1), var(--track-record-inactive-background2));
  color: var(--track-record-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-record.active {
  background: linear-gradient(var(--track-record-active-background1), var(--track-record-active-background2));
  color: var(--track-record-active-text);
}

.track-monitor {
  background: linear-gradient(var(--track-monitor-inactive-background1), var(--track-monitor-inactive-background2));
  color: var(--track-monitor-inactive-text);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 23%;
  border: none;
  cursor: pointer;
}

.track-monitor.active {
  background: linear-gradient(var(--track-monitor-active-background1), var(--track-monitor-active-background2));
  color: var(--track-monitor-active-text);
}

.track-record-icon {
  width: 15px;
  height: 15px;
}

.track-monitor-icon {
  width: 15px;
  height: 15px;
}