/* channel-strip */
.channel-strip {
  width: 6%;
  height: 100%;
  background-color: #c0c0c0;  
  position: relative;
  border: 5px solid rgb(116, 116, 116);
  border-radius: 10px;
  flex-shrink: 0;
  margin-left: 5px
}

/* meters */
.meterR {
  width: 15%;
  height: 50%;
  background-image: linear-gradient(0deg, #54aef7 40%, yellow,  red 100%);
  position: absolute;
  top: 17%;
  left: 60%; 
  border: 1px solid black;
}

.meterL {
  width: 15%;
  height: 50%;
  background-image: linear-gradient(0deg, #54aef7 40%, yellow, red 100%);
  position: absolute;
  top: 17%;
  left: 80%;  
  border: 1px solid black;
}

.metergain {
  width: 40%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 5%;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 15px;

  position: absolute;
  top: 70%;
  left: 55%;
   
  border: 2px solid rgb(83, 83, 83);
}

/* buttons & pan */
.channel-mute {
  width: 40%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 5%;          /* height */

  background-color: rgb(153, 153, 153);
  color: white;

  position: relative;
  top: 1%;
  left: 4%;
  
  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.channel-mute.active {
  background-color: #ffd633;
  color: black;
}

.channel-solo {
  width: 40%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 5%;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;

  position: absolute;
  top: 1%;
  left: 53%;
  
  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.channel-solo.active {
  background-color: #e75b3c;
  color: black;
}

.channel-pan {
  width: 89%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 5%;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;

  position: absolute;
  top: 8%;
  left: 4%;

  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

/* fader */
.fader {
  width: 15%;
  height: 50%;
  background-color: #dddddd;

  position: absolute;
  top: 17%;
  left: 15%;

  border-radius: 10px;
}

.fader-thumb {
  width: 175%;
  height: 30%;

  background-color: #ffffff;
  
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #999999;

  cursor: grab;
  user-select: none;
  transition: background-color 0.2s ease;
}

.fader-thumb-body {
  width: 98%;
  height: 80%;

  background-color: rgb(153, 153, 153);

  position: relative;
  top: 10%;
  left: 1%;
}

.fader-thumb-notch {
  width: 90%;
  height: 2%;

  background-color: black;

  position: relative;
  top: 50%;
  left: 5%;
}

.fadergain {
  width: 40%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 5%;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 15px;

  position: absolute;
  top: 70%;
  left: 4%; 

  border: 2px solid rgb(83, 83, 83);
}

/* monitor & record */
.channel-record {
  width: 40%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 5%;            /* height */

  background-color: rgb(153, 153, 153);
  font-size: 14px;

  position: absolute;
  top: 77%;
  left: 4%;

  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.channel-record.active {
  background-color: #eb2323;
}

.channel-record-icon {
  width: 15px;
  height: 15px;
}

.channel-monitor {
  width: 40%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 5%;            /* height */

  background-color: rgb(153, 153, 153);
  font-size: 14px;

  position: absolute;
  top: 77%;
  left: 55%;

  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.channel-monitor.active {
  background-color: #ffa033;
}

.channel-monitor-icon {
  width: 15px;
  height: 15px;
}

/* channel name */
.channel-name {
  width: 95%;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 12%;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 18px;

  position: absolute;
  top: 86%;
  left: -2%;

  border: 5px solid rgb(116, 116, 116);
  border-radius: 10px;
}