/* MixConsole */
.MixConsole {
  width: 100%;
  height: 460px; 

  position: relative;
  
  background-color: rgb(72, 72, 72);

  border: 5px solid rgb(153, 153, 153);
  border-radius: 15px;
}

/* channel-strip */
.channel-strip {
  width: 150px;
  height: 450px;
  background-color: #c0c0c0;  
  position: relative;
  top: 0%;
  left: 1%;
  border: 5px solid rgb(116, 116, 116);
  border-radius: 10px;
}

/* meters */
.meterR {
  width: 30px;
  height: 225px;
  background-image: linear-gradient(0deg, #54aef7 40%, yellow,  red 100%);
  position: absolute;
  top: 75px;
  left: 112px; 
  border: 1px solid black;
}

.meterL {
  width: 30px;
  height: 225px;
  background-image: linear-gradient(0deg, #54aef7 40%, yellow, red 100%);
  position: absolute;
  top: 75px;
  left: 79px;  
  border: 1px solid black;
}

.metergain {
  width: 60px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 30px;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 15px;

  position: absolute;
  top: 68.95%;
  left: 53.5%;
   
  border: 2px solid rgb(83, 83, 83);
}

/* buttons & pan */
.mute {
  width: 65px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 20px;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;

  position: absolute;
  top: 2.2%;
  left: 3.5%;
  
  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.mute.active {
  background-color: #ffd633;
  color: black;
}

.solo {
  width: 65px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 20px;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;

  position: absolute;
  top: 2.2%;
  left: 50%;
  
  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.solo.active {
  background-color: #e74c3c;
  color: black;
}

.pan {
  width: 135px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 20px;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;

  position: absolute;
  top: 7.8%;
  left: 3.5%;

  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

/* fader */
.fader {
  width: 20px;
  height: 225px;
  background-color: #dddddd;

  position: absolute;
  top: 5.5%;
  left: -15%;

  border-radius: 10px;
  margin: 50px;
}

.thumb {
  width: 30px;
  height: 20px;

  background-color: #ffffff;
  
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #999999;

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.fadergain {
  width: 60px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 30px;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 15px;

  position: absolute;
  top: 68.95%;
  left: 3.5%; 

  border: 2px solid rgb(83, 83, 83);
}

.record {
  width: 60px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 30px;            /* height */

  background-color: rgb(153, 153, 153);
  font-size: 14px;

  position: absolute;
  top: 77.8%;
  left: 3.5%;

  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.record.active {
  background-color: #e74c3c;
}

/* monitor & record */
.monitor {
  width: 60px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 30px;            /* height */

  background-color: rgb(153, 153, 153);
  font-size: 14px;

  position: absolute;
  top: 77.8%;
  left: 53.5%;

  border: 2px solid rgb(83, 83, 83);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.monitor.active {
  background-color: #ffd633;
}

/* channel name */
.channel-name {
  width: 141px;
  display: flex;           /* use to align */
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 50px;            /* height */

  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 18px;

  position: absolute;
  top: 87.8%;

  border: 5px solid rgb(116, 116, 116);
  border-radius: 10px;
}