.track {
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #464646;
  color: white;
  border: 5px solid rgb(161, 161, 161);
  border-radius: 5px;
}

.track-name {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: clamp(16px, 2.5vw, 24px);
  color: white;
}

.track-mute {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 1%;
  border: 2px solid rgb(161, 161, 161);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.track-solo {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 26%;
  border: 2px solid rgb(83, 83, 83);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease
}

.track-record {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 51%;
  border: 2px solid rgb(83, 83, 83);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease
}

.track-record-icon {
  width: 15px;
  height: 15px;
}

.track-monitor {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  background-color: rgb(153, 153, 153);
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 76%;
  border: 2px solid rgb(83, 83, 83);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease
}

.track-monitor-icon {
  width: 15px;
  height: 15px;
}

.track-mute.active {
  background-color: #ffd633;
  color: black;
}

.track-solo.active {
  background-color: #e75b3c;
  color: black;
}

.track-record.active {
  background-color: #eb2323;
}

.track-monitor.active {
  background-color: #ffa033;
}